#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-image: url("./assets/forest.jpg");
  background-attachment: fixed;
  color: red;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.reaction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.animalsMap {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

img {
  width: 200px;
}

.search-bar input {
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.navbar ul {
  color: white;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}
.cardsOfAnimals {
  background-color: rgb(207, 200, 200);
  width: 300px;
  border-radius: 11px;
  padding: 1rem;
  position: relative;
}

.close-btn {
  background: transparent;
  position: absolute;
  right: -10px;
  top: -5px;
}

.birdsMap {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
